
.admin-menu-header {
  height: 60px;
  position: absolute;
  width: 100%;

  .admin-menu-navigation {
    position: static;
    width: 20%;
    font-size: 18px;
  }

  .nav-item-logo {
    float: left;
    font-weight: bold;
    color: white;
    font-size: 18px;
  }
}

.admin-menu-aside {
  float: left;
  margin-top: 75px;
  padding: 10px 0 10px 0;
  width: 12%;

  ol {
    list-style-type: none;
    padding-inline-start: 0;
    padding: 5px 0 5px 0;

    li {
      h3 {
        font-size: 24px;
      }
      font-family: 'Google Sans', Roboto, Arial, sans-serif;
      font-size: 18px;
      padding: 5px 5px 5px 20px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;

      a {
        color: #3c4043;
      }

      a:hover {
        color: #1967d2;
        text-decoration: none;
      }

      ul {
        top: 5px;
        width: 95%;
        padding-bottom: 5px;
        padding-left: 0;
        margin-left: 35px;
        position: relative;
        left: -20px;
        background: white;

        li {
          border-top-right-radius: 0;
        }
      }
    }


    li:hover {
      background: lightgrey;
    }
  }

  .user-menu-open {
    background: lightgrey;
  }
}

.admin-menu-welcome {
  margin-top: 120px;
}

.admin-menu-container {
  clear: both;
  position: relative;
  top: -250px;

  h1 {
    color: black;
    margin-bottom: 0;
  }
}

.table {
  border: 2px solid white;
  padding: 10px;
  margin: 50px auto;
  background: rgba(18, 25, 41, 0.90);
  box-shadow: 4px 6px 25px 15px rgba(0, 0, 0, 0.75);

  tr {
    td {
      text-align: center;
      border: 2px solid white;
      padding: 5px;
      color: aqua;
      font-size: 18px;
      font-weight: bold;
    }

    th {
      text-align: center;
      border: 1px solid white;
      padding: 5px;
      color: red;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }

    th:hover {
      color: yellowgreen;
    }

    td:first-child {
      border: 2px solid white;
      color: aqua;
    }
  }
}

.admin-menu-content {
  border: 2px solid lightgray;
  padding: 10px;

  &--no-border {
    position: relative;
    top: -65px;
    border: none;
  }

  &--image {
    background: url('https://i0.wp.com/barcalena.pl/wp-content/uploads/2012/07/IMGP0257-e1503994351295.jpg?fit=640%2C426&ssl=1') no-repeat;
    background-size: cover;
    height: 590px;
    opacity: 0.5;
    color: aliceblue;

    ol {
      font-weight: bold;
      float: left;
      list-style-type: none;
      margin: 50px 0 0 20px;

      li {
        font-size: 19px;
        color: aqua;
        padding: 10px;
      }
    }
  }

  .change-data-confirm {
    color: green;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1330px !important;
  }
}

//UPDATE LEAGUE FOR ADMIN //
#w0 {
  font-size: 18px;

  label {
    color: red;
  }

  input {
    height: 30px;
    font-size: 16px;
  }
}