.container {
  margin-bottom: 50px;

  h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
  }

  h3 {
    margin-block-end: 0;
    position: absolute;
  }

  .content {
    width: 100%;

    .leagues {
      margin-right: 0;
      margin-left: 0;
      padding: 20px;
      border-radius: 5px;

      .league {
        height: 250px;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        border-radius: 100px;
        margin-top: 20px;

        img {
          transform: scale(1);
          transition-duration: 2s;
          width: 100%;
          height: 100%;
        }

        img:hover {
          transform: scale(1.1) rotate(10deg);
        }
      }

      .add_league {
        text-align: center;
        color: #ffffff;
        font-size: 25px;
        background: rgba(18, 25, 41, 0.65);
        cursor: pointer;
        padding: 15px;

        .open:hover {
          color: lightblue;
        }

        .add_form {
          background: white;
          padding: 15px;
          display: none;

          &--open {
            display: block;
          }

          .league_logo {
            margin-left: 10px;
            margin-bottom: 10px;
            color: black;
            font-size: 20px;
          }
        }

        .add_league_text {
          color: black;
          text-align: center;
          margin-top: 20px;
        }
      }

      .add_league:hover {
        background: rgba(15, 22, 38, 0.80);
      }
    }
  }
}

.add {
  form {
    position: relative;
    left: 13px;
    padding: 10px;
    margin-block-end: 0;

    p {
      font-weight: bold;
      font-size: 20px;
      margin-block-end: 0;
      margin-block-start: 0;
      margin-bottom: 5px;
      margin-top: 10px;
    }

    label {
      input {
        padding: 7px;
      }
    }

    button {
      margin-top: 10px
    }

    a {
      text-decoration: none;
      color: black;

      p {
        color: black;
        margin-top: 15px;
        text-decoration: underline black;
      }
    }
  }
}
