header {
  height: 125px;
  padding: 20px;
  background: rgba(18, 25, 41, 0.65);
  border-bottom: 1px solid black;

  .date {
    float: left;
    color: white;
    font-size: 18px;
    position: absolute;

    &--position {
      top: 12px;
      left: 100px;
    }
  }


  .logout {
    float: right;

    p {
      color: white;
      font-size: 18px;
      margin-bottom: 0;
    }

    a {
      border-bottom: 1px solid #007bff;
    }
  }
}

.tight {
  height: 60px;
}

#edodatki_widget_clock {
  strong {
    color: white;
  }
}
