.login_background {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}