body {
  background: url(http://www.footroll.pl/i/bg-site-top.jpg) center top;

  .welcome {
    position: absolute;
    top: 20%;
    margin-top: -100px;
    padding: 20px;
    text-align: left;
    width: 42%;
    color: #ffffff;

    a {
      text-decoration: none;
      color: #007bff;
      font-size: 20px;
      border-bottom: 2px solid #007bff;
    }

    a:hover {
      color: #005aaa;
    }
  }
}

.cancel {
  color: red;
}

.help-block {
  color: red;
}




