.match {
  margin: auto;
  color: black;
  width: 30%;
  padding: 20px;
  background: #ffffff;
  border: 1px solid black;
  text-align: center;

  h3 {
    position: relative !important;
    margin-bottom: 25px;
  }
}

.matches {
  position: relative !important;
  float: right;
  left: 260px;
  color: red;
  font-size: 23px;
}

.match-day {
  position: relative !important;
  float: right;
  top: -90px;
  font-size: 25px;

  &--next {
    float: right;
  }

  &--prev {
    float: left;
  }

  &--table {
    color: greenyellow;
    top: -1px;
    left: 230px;
  }
}

.create_match {
  padding-left: 25px;

  .form-group {
    float: left;
    margin: 25px 25px 0 0;
  }

  .form-number {
    padding: 5px;
  }


  button {
    margin-top: 25px;
    position: relative;
    left: 0;
  }

  .date_field {
    width: 15%;
    padding: 4px;
    border: none;
    float: left;
    margin-top: 25px;
    margin-right: 25px;
  }
}

.create_match_table {
  color: white;
  margin-left: auto;
  margin-right: auto;
  background: rgba(18, 25, 41, 0.90);
  box-shadow: 4px 6px 25px 15px rgba(0, 0, 0, 0.75);
  padding: 20px;
  width: 100%;

  th {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-right: 50px;
  }

  .table_border {
    border: 2px solid black;

    td {
      text-align: center;
      font-size: 25px;
      padding: 10px;
      margin-right: 50px;
    }
  }
}
.form-control {
  font-size: 18px !important;
}

