.tools {
  position: absolute;
  top: 22%;
  width: 7%;
  background: white;
  color: #7abaff;
  left: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 7px;
      border: 2px solid black;
      cursor: pointer;
      font-weight: bold;

      p {
        margin: 0;
      }

      .my_team_add {
        display: none;
        z-index: 100;
        position: absolute;
        left: 100%;
        top: 0;
        width: 200px;
        border: 2px solid black;
        background: rgba(18, 25, 41, 0.65);
        margin: 0;
        padding: 15px;

        h5 {
          text-align: center;
          margin-bottom: 20px;
        }

        input {
          padding: 5px;
          border: 1px solid black;
        }

        .btn_position {
          margin: 10px;
          padding: 5px;
          text-align: center;
        }

        &--open {
          display: block;
        }
      }

      .my_team_delete {
        display: none;
        z-index: 100;
        position: absolute;
        left: 100%;
        top: 0;
        border: 2px solid black;
        background: rgba(18, 25, 41, 0.65);
        margin: 0;
        padding: 15px;
        width: 200px;

        h5 {
          text-align: center;
          margin-bottom: 20px;
        }

        input {
          padding: 5px;
          border: 1px solid black;
        }

        button {
          width: 100%;
          padding: 5px;
          text-align: center;
          position: relative;
          margin-top: 10px;
          margin-left: 0;
        }

        &--open {
          display: block;
        }
      }
    }


    li:hover {
      color: #6aaacc;
    }
  }

  .my_league_delete {
    display: none;
    z-index: 100;
    position: absolute;
    left: 100%;
    top: 0;
    border: 2px solid black;
    background: rgba(18, 25, 41, 0.65);
    margin: 0;
    padding: 15px;
    width: 200px;

    h5 {
      text-align: center;
      margin-bottom: 20px;
    }

    input {
      padding: 5px;
      border: 1px solid black;
    }

    button {
      margin: 10px;
      padding: 5px;
      text-align: center;
      position: relative;
      left: 15px;
    }

    &--open {
      display: block;
    }
  }
}

.NULL {
  visibility: hidden !important;
}

