
.navigation {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 25%;
  margin-right: 50px;
  float: right;

  .nav_item {
    a {
      color: white;
    }

    a:hover {
      color: #7abaff;
      text-decoration: none;
    }

    a:active {
      color: black;
    }
  }
}