.newsletter {
  position: relative;
  top: -71px;
  background: rgba(18, 25, 41, 0.65);
  color: #ffffff;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 65px;

    ol {
      list-style-type: none;
      height: 65px;
      padding-top: 10px;
      li {
        float: left;
        padding: 10px;
        width: 16%;
        text-align: center;
        border-right: 1px dotted white;
        border-left: 1px dotted white;

        ul {
          display: none;
          list-style-type: none;
          width: 100%;

          li {
            position: relative;
            left: -20px;
            width: 100%;
            border-bottom: 1px solid white;
            border-right: none;
            border-left: none;

            a {
              text-decoration: none;
              color: white;
            }

            a:hover {
              color: #7abaff;
            }
          }

        }
      }
      li:first-child {
        border-left: none;
      }
      li:last-child {
        border-right: none;
      }

      li:hover {
        color: #7abaff;
        position: relative;

        ul {
          background: rgba(18, 25, 41, 0.65);
          display: block;
          top: 55px;
          position: absolute;
        }

      }
    }
  }
