.table {
  border: 2px solid white;
  padding: 10px;
  margin: 50px auto;
  background: rgba(18, 25, 41, 0.90);
  box-shadow: 4px 6px 25px 15px rgba(0, 0, 0, 0.75);

  tr {
    td {
      border: 2px solid white;
      padding: 5px;
      color: white;
      font-size: 18px;
      font-weight: bold;
    }

    th {
      border: 1px solid white;
      padding: 5px;
      color: cornflowerblue;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }

    th:hover {
      color: yellowgreen;
    }

    td:first-child {
      border: 2px solid white;
      color: lightblue;
    }
  }
}

.team_table {
  border: 2px solid white;
  padding: 10px;
  margin: 50px auto;
  background: rgba(18, 25, 41, 0.90);
  box-shadow: 4px 6px 25px 15px rgba(0, 0, 0, 0.75);

  tr {
    td {
      text-align: center;
      border: 2px solid white;
      padding: 5px;
      color: white;
      font-size: 18px;
      font-weight: bold;
    }

    th {
      text-align: center;
      border: 1px solid white;
      padding: 5px;
      color: cornflowerblue;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }

    th:hover {
      color: yellowgreen;
    }

    td:first-child {
      border: 2px solid white;
      color: lightblue;
    }
  }
}

