.user-menu-body {
  background: white;

  .user-menu-header {
    height: 60px;

    .user-menu-navigation {
    }

    .nav-item-logo {
      float: left;
      font-weight: bold;
      color: white;
    }
  }

  .user-menu-aside {
    float: left;
    margin-top: 75px;
    padding: 10px 0 10px 0;
    width: 12%;

    ol {
      list-style-type: none;
      padding-inline-start: 0;
      padding: 5px 0 5px 0;

      li {
        font-family: 'Google Sans', Roboto, Arial, sans-serif;
        font-size: 18px;
        padding: 5px 5px 5px 20px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;

        a {
          color: #3c4043;
        }

        a:hover {
          color: #1967d2;
          text-decoration: none;
        }
      }

      .user-menu-title {
        color: blue;
      }

      li:hover {
        background: lightgrey;
      }
    }

    .user-menu-open {
      background: lightgrey;
    }
  }

  .user-menu-welcome {
    margin-top: 60px;
  }

  .user-menu-container {
    clear: both;
    position: relative;
    top: -100px;
    padding: 0 100px;
  }

  .user-menu-content {
    border: 2px solid lightgray;
    padding: 10px;

    &--no-border {
      position: relative;
      top: -65px;
      border: none;
    }

    &--image {
      background: url('https://i0.wp.com/barcalena.pl/wp-content/uploads/2012/07/IMGP0257-e1503994351295.jpg?fit=640%2C426&ssl=1') no-repeat;
      background-size: cover;
      height: 590px;
      opacity: 0.5;
      color: aliceblue;

      ol {
        font-weight: bold;
        float: left;
        list-style-type: none;
        margin: 50px 0 0 20px;

        li {
          font-size: 19px;
          color: aqua;
          padding: 10px;
        }
      }
    }

    .change-password-confirm {
      color: green;
      text-align: center;
    }
  }
}